@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --blue: #030821;
  --gray: #3b5ca5;
}
* {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background: var(--blue);
  color: aliceblue;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
.heading {
  font-size: 4rem;
  color: var(--blue);
  text-align: center;
  padding: 0 1rem;
  padding-top: 6rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

.title {
  padding: 0 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  color: #aaa;
}

header {
  width: 96%;
  background: aliceblue;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
  transition: 0.2s;
}
header .navbar button {
  height: 4rem;
  width: 10rem;
  border-radius: 5rem;
  background: var(--blue);
  color: aliceblue;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

.home {
  min-height: 100vh;
  background: linear-gradient(rgba(3, 8, 21, 0.8), rgba(164, 181, 219, 0.8)),
    url(../images/home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  overflow: hidden;
  position: relative;
}

.home .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-top: 14rem;
  padding-bottom: 8rem;
  text-align: center;
}

.home .content h1 {
  font-size: 5rem;
  color: aliceblue;
  padding: 0 1rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.home .content p {
  font-size: 2rem;
  color: #eee;
  padding: 1rem 25rem;
}

.home .content button {
  height: 4rem;
  width: 20rem;
  border-radius: 5rem;
  background: var(--blue);
  color: aliceblue;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}
.home .content button:hover {
  letter-spacing: 0.2rem;
}

.home .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .box-container .box {
  height: 20rem;
  width: 25rem;
  background: aliceblue;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  margin: 2rem;
  cursor: pointer;
}

.home .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
  border-radius: 50%;
  color: aliceblue;
  background: var(--gray);
  font-size: 3rem;
  margin: 2rem 0;
  transition: 0.2s;
}

.home .box-container .box h3 {
  font-size: 2rem;
  color: var(--blue);
  transition: 0.2s;
}

.home .box-container .box p {
  font-size: 1.3rem;
  padding: 0.7rem 2rem;
  color: #767676;
}

.home .box-container .box:hover i {
  background: var(--blue);
}

.home .box-container .box:hover h3 {
  color: var(--gray);
}

.home::before {
  content: "";
  position: absolute;
  bottom: -25rem;
  left: 50%;
  transform: translateX(-50%);
  border-top: 70vh solid aliceblue;
  width: 120%;
  border-radius: 50%;
  z-index: -1;
}

.about .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .row .image img {
  height: 70vh;
  width: 50vw;
}

.about .row .content {
  padding-left: 5rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: var(--blue);
}

.about .row .content p {
  font-size: 1.6rem;
  color: #999;
  padding: 1rem 0;
}

.about .row .content button {
  height: 3.5rem;
  width: 17rem;
  background: var(--blue);
  color: aliceblue;
  border: none;
  border-radius: 5rem;
  font-size: 2rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.2s;
}

.about .row .content button:hover {
  letter-spacing: 0.2rem;
  opacity: 0.8;
}

.tutor {
  background: #f9f9f9;
}

.tutor .card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.tutor .card-container .card {
  padding: 2rem;
  margin: 0.2rem;
  background: aliceblue;
  text-align: center;
  width: 28rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.tutor .card-container .card img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
  filter: grayscale();
  transition: 0.2s;
}

.tutor .card-container .card:hover img {
  filter: grayscale(0);
}

.tutor .card-container .card h3 {
  color: var(--blue);
  font-size: 2rem;
  padding: 0.5rem 0;
}

.tutor .card-container .card p {
  font-size: 1.7rem;
  color: #767676;
}

.tutor .card-container .card .icons a {
  font-size: 1.9rem;
  padding: 1.5rem 0.5rem;
  color: var(--blue);
}

.tutor .card-container .card .icons a:hover {
  color: var(--gray);
}

.course .box-container {
  width: 85%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 4rem;
  flex-wrap: wrap;
}

.course .box-container .box {
  height: 18rem;
  width: 25rem;
  margin: 3.5rem 2rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0 0.1rem var(--gray),
    0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.course .box-container .box i {
  height: 10rem;
  width: 10rem;
  line-height: 8rem;
  text-align: center;
  color: aliceblue;
  border-radius: 50%;
  background: var(--blue);
  margin-top: -4rem;
  border: 1rem solid aliceblue;
  border-left: 1rem solid var(--blue);
  border-right: 1rem solid var(--blue);
  box-shadow: 0 0 0 1rem aliceblue inset;
  font-size: 3.5rem;
}

.course .box-container .box h3 {
  font-size: 2rem;
  color: var(--gray);
}

.course .box-container .box p {
  font-size: 1.5rem;
  color: #999;
  padding: 1rem 0;
}

.contact {
  background: #747373;
}

.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.contact .row .image img {
  width: 50vw;
  height: 70vh;
}

.contact .row .form-container {
  width: 50%;
  padding-right: 6rem;
}

.contact .row .form-container input,
textarea {
  height: 4rem;
  width: 100%;
  background: aliceblue;
  border: none;
  border-radius: 5rem;
  padding: 0 1rem;
  margin: 1rem 0;
  color: var(--blue);
  font-size: 1.7rem;
  transition: 0.2s linear;
}

.contact .row .form-container textarea {
  height: 20rem;
  border-radius: 1rem;
  padding: 1rem;
  resize: none;
}

.contact .row .form-container input:focus,
textarea:focus {
  border: 0.2rem solid var(--blue);
}

.contact .row .form-container input[type="submit"] {
  width: 17rem;
  background: var(--blue);
  color: aliceblue;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.2s;
}

.contact .row .form-container input[type="submit"]:hover {
  background: none;
  color: var(--blue);
  border: 0.2rem solid var(--blue);
}

.footer {
  text-align: center;
}

.footer .icons {
  padding: 3rem 0;
}

.footer .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.2rem;
  text-align: center;
  border-radius: 50%;
  color: var(--gray);
  border: 0.2rem solid var(--gray);
  font-size: 2rem;
  margin: 0 0.1rem;
  transition: 0.2s linear;
}

.footer .icons a:hover {
  color: aliceblue;
  background: var(--blue);
  border-color: var(--blue);
}

.footer .credit {
  font-size: 2rem;
  border-top: 0.1rem solid #999;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: #767676;
  width: 90%;
  padding: 1rem 0;
}

.footer .credit span {
  color: var(--blue);
}
.header-active {
  top: 0;
  width: 100%;
  border-radius: 0;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .navbar ul li {
  margin: 0 1rem;
}

header .navbar ul li a {
  font-size: 2rem;
  color: var(--blue);
  transition: 0.2s;
}
header .navbar ul li .active,
header .navbar ul li a:hover {
  color: var(--gray);
}

header .logo {
  font-size: 2.5rem;
  color: var(--gray);
  text-transform: uppercase;
}

header .logo i {
  color: var(--blue);
  padding: 0 0.2rem;
}

header .fa-bars {
  font-size: 3rem;
  color: var(--blue);
  cursor: pointer;
  display: none;
  transition: 0.2s;
}

header .fa-times {
  transform: rotate(180deg);
  color: var(--gray);
}

/* media queries */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  header .fa-bars {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: -100rem;
    left: 0;
    width: 100%;
    background: aliceblue;
    border-radius: 1rem;
    opacity: 0;
    transition: 0.2s linear;
  }

  header .navbar ul {
    flex-flow: column;
    padding: 2rem 0;
  }

  header .navbar ul li {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
  header .navbar ul li a {
    font-size: 3rem;
    display: block;
  }

  header .nav-toggle {
    top: 5.5rem;
    opacity: 1;
  }
  .home .content p {
    padding: 1.5rem 2rem;
  }

  .home::before {
    display: none;
  }

  .about .row {
    flex-flow: column-reverse;
  }

  .about .row .image img {
    height: 60vh;
    width: 90vw;
  }

  .about .row .content {
    padding: 0 2.5rem;
  }

  .course .box-container {
    width: 100%;
  }

  .contact .row {
    flex-flow: column;
  }
  .contact .row .image img {
    height: 50vh;
    width: 90vw;
  }

  .contact .row .form-container {
    width: 90%;
    padding: 0;
  }
}
