@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --blue: #030821;
  --gray: #3b5ca5;
}
* {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background: var(--blue);
  color: aliceblue;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
.input_text,
.input_select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input_submit {
  height: 3.5rem;
  width: 17rem;
  background: var(--blue);
  color: aliceblue;
  border: none;
  border-radius: 5rem;
  font-size: 2rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.2s;
}

.input_submit:hover {
  letter-spacing: 0.2rem;
  opacity: 0.8;
}

.form_div {
  border-radius: 5px;
  width: 50%;
  background-color: #f2f2f2;
  padding: 20px;
}
