{% extends 'base.html' %}
{% block content %}
    <main>
      <section class="course-page">
        <h2>Graphic Design</h2>
        <div class="course-description">
          <p>
            Explore the fundamentals of graphic design, including typography,
            color theory, branding, and digital illustration techniques.
          </p>
        </div>

        <section class="lessons">
          <h3>Course Lessons</h3>
          <ul>
            <li><a href="https://youtu.be/WONZVnlam6U?si=Lj-l_rI7YMAr6RZz">
               1: Introduction to Graphic Design</a></li>
            <li><a href="https://youtu.be/byDNMLTuOqI?si=O-sIx9Fe9L1Nl1xT">
               2: Typography and Color Theory</a></li>
            
            <p>ELEMENTS OF GRAPHICS DESIGN</p>  
            <li><a href="https://youtu.be/F0PTse89XIE?si=JYBfLUSZ5eF79Lqn">
              1. Line</a></li> 
            <li><a href="https://youtu.be/byDNMLTuOqI?si=O-sIx9Fe9L1Nl1xT">
              2. Colors</a></li> 
            <li><a href="https://youtu.be/byDNMLTuOqI?si=TZpT9TlU6gj9QNF9">
              3. Shapes</a></li> 
            <li><a href="https://youtu.be/hECQpBM0b0Q?si=5nwiZfjSX4R9b43M">
              4. Texture</a></li>
            <li><a href="https://youtu.be/r0SAPEw0ru4?si=xFCZu_3UpUFbeXu-">
              5. Hierarchy</a></li> 
            <li><a href="https://youtu.be/byDNMLTuOqI?si=O-sIx9Fe9L1Nl1xT">
              6. Form</a></li> 
            <li><a href="https://youtu.be/r0SAPEw0ru4?si=4oA978xbGKcEOgYw">
              7. Contrast</a></li>  
        </section>
{% endblock %}
        