{% extends 'base.html' %}
{% block content %}
    <main>
      <section class="course-page">
        <h2>HTML5</h2>
        <div class="course-description">
          <p>
            Master the latest HTML5 standards and learn how to structure and
            present web content efficiently and effectively.
          </p>
        </div>

        <section class="lessons">
          <h3>Course Lessons</h3>
          <ul>
            <li>Lesson 1: Introduction to HTML5</li>
            <li>Lesson 2: HTML5 Tags and Elements</li>
            <li>Lesson 3: Forms and Input Types</li>
            <li>Lesson 4: Multimedia Elements</li>
            <li>Lesson 5: Building Accessible Web Pages</li>
          </ul>
        </section>

 {% endblock %}       