{% extends 'base.html' %}

{% block content %}
    <main>
      <section class="course-page">
        <h2>JavaScript</h2>
        <div class="course-description">
          <p>
            Get started with JavaScript, the programming language of the web,
            and learn to create interactive and dynamic web pages.
          </p>
        </div>

        <section class="lessons">
          <h3>Course Lessons</h3>
          <ul>
            <li>Lesson 1: Introduction to JavaScript</li>
            <li>Lesson 2: JavaScript Syntax and Operators</li>
            <li>Lesson 3: Functions and Events</li>
            <li>Lesson 4: DOM Manipulation</li>
            <li>Lesson 5: Asynchronous JavaScript</li>
          </ul>
        </section>

   {% endblock %}     